.cor-botao{
    display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
background-color: #FFFFFF;
border-radius: 5px;
border-style: solid;
border: 1px solid #D5D5D5;
color: black;
cursor: pointer;
margin: 0px 3px;
}
.cor-selecionado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #afafaf;
    border-radius: 5px;
    border-style: solid;
    border: 1px solid #D5D5D5;
    color: black;
    cursor: pointer;
    margin: 0px 3px;
}
